body {
    background-color: rgb(110, 110, 110);
}



.box1 {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    position: absolute;
    animation-name: myAnimation;
    animation-delay: 0s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.5s;
    animation-timing-function: cubic-bezier(.08,.23,.06,.92);
}

.box2 {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    position: absolute;
    animation-name: myAnimation;
    animation-delay: 0.25s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.5s;
    animation-timing-function: cubic-bezier(.08,.23,.06,.92);
}

.box3 {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    position: absolute;
    animation-name: myAnimation;
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.5s;
    animation-timing-function: cubic-bezier(.08,.23,.06,.92);
}

.box4 {
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    position: absolute;
    animation-name: myAnimation;
    animation-delay: 0.75s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-property: all;
    transition-duration: 0.5s;
    animation-timing-function: cubic-bezier(.08,.23,.06,.92);
}

.box1:hover {
    background-color: red;
}

.box2:hover {
    background-color: yellow;
}

.box3:hover {
    background-color: green;
}

.box4:hover {
    background-color: rgb(60, 118, 241);
}

@keyframes myAnimation {
    0% {transform: translate(90px, 90px); border-radius: 100%;}
    25% {transform: translate(330px, 90px); border-radius: 50%;}
    50% {transform: translate(330px, 330px); border-radius: 50%;}
    75% {transform: translate(90px, 330px); border-radius: 50%;}
    100% {transform: translate(90px, 90px); border-radius: 50%;}
}