
/* fr*/

*, * ::before, * ::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(110, 110, 110);
    margin: auto;
}

.container {
    width: 58vw;
    height: 58vw;
    margin: 5vw auto;
    border: 0.5vw solid #eeeeee;
}

.box1, .box2, .box3, .box4 {
    background-color: rgb(0, 0, 0);
    width: 8vw;
    height: 8vw;
    position: absolute;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.08,.23,.06,.92);
    transition-property: all;
    transition-duration: 0.5s;
    opacity: 0;
}

.box2 {
    animation-delay: 0.25s;
}

.box3 {
    animation-delay: 0.5s;
}

.box4 {
    animation-delay: 0.75s;
}

.box1:hover {
    background-color: red;
}

.box2:hover {
    background-color: yellow;
}

.box3:hover {
    background-color: green;
}

.box4:hover {
    background-color: rgb(60, 118, 241);
}

@keyframes myAnimation {
    0% {transform: translate(0); border-radius: 100%; opacity: 1;}
    25% {transform: translate(49vw, 0px); border-radius: 50%;}
    50% {transform: translate(49vw, 49vw); border-radius: 50%;}
    75% {transform: translate(0px, 49vw); border-radius: 50%;}
    100% {transform: translate(0); border-radius: 50%; opacity: 1;}
}
